body {
	font-family: 'Quicksand', sans-serif;
	font-size: 14px;
	color : #ffffff ;
	line-height: 1.4;
	background-color: black;
}

h1 {
	font-family: 'Lobster Two', cursive;
	font-size: 30px;
	color: white;
}

h2 {
	font-family: 'Titillium Web', sans-serif;
	font-size: 20px;
	color: #ffffff
}

img {
	height: 140px;
	text-align : center;
}

a {
text-decoration: none;
color: #ffffff;
font-size: 24px;
background-color: #630B38;
padding: 10px;
border-radius: 6px;
}

#banner {
	background-image: url(images/Banner.jpg);
	background-repeat: no-repeat;
	background-size : cover;
	text-align: center;
	padding: 60px;
	border-image: 10px

}

#banner h1 {
	font-family: 'Titillium Web', sans-serif;
	font-size: 36px;
}

#banner h2 {
	color:#630B38;
	font-family: 'Quicksand', sans-serif;
	line-height:0.1;
}

#banner p {
	color : white;
	padding: 30px;
}


#Rocket {
	height: 50px
}

#CTA a {
text-decoration: none;
color: #ffffff;
font-size: 18px;
background-color: #630B38;
padding: 10px;
border-radius: 6px;

}

#CTA a:hover {
	background-color: #383839;
	color:white;

}

#cloud, #social-media, #analysis {
	height: 50px
}

.card {
padding: 20px;
text-align: center;
font-size: 12px

}
.card-container {

justify-content: space-between;
justify-content: space-around;
border: solid black;
}

.card2 {
padding: 40px;
text-align: center;
font-size: 12px;

}

.blockcard-footer {
display: inline-flex;
margin: 20 auto;

}

.blocktitle{
padding: 40px;
text-align: center;

}

#Expérience h1 {;
margin-left : 80px;
margin-right : 80px;
border-radius: 6px;
}



@media (max-width: 760px) {
	.container{
		width:600px;
	}
}

@media (max-width: 500px) {
	.container{
		width:400px;
	}
}

